.gmail{
    margin-left: 1600px;
}
.googlePic{
    margin-left: 650px;
    margin-top: 60px;
}
.searchfield{
    margin-left: 820px;
    margin-top: 5px;
}
.googleButton{
    margin-left: 790px;
    margin-top: 5px;

}
.googleSvenska{
    margin-left: 820px;
    margin-top: 30px;
}
.sweden{
    background-color: gray;
    margin-left: 20px;
    margin-top: 300px;
}
.grey1{
    background-color: gray;
}
.grey2{
    background-color: gray;
}
.bottomTextLeft{
    margin-left: 40px;
}
.bottomTextMiddle{
    margin-left: 350px;
}
.bottomTextRight{
    margin-left: 40px;
}